<div>
  <mat-card>
    <div>
      <mat-icon style="color: red; font-size: 15px">circle</mat-icon>
      <mat-icon style="color: yellow; font-size: 15px; margin-left: -4px"
        >circle</mat-icon
      >
      <mat-icon style="color: green; font-size: 15px; margin-left: -4px"
        >circle</mat-icon
      >
    </div>
    <div>
      <div style="margin-left: 90%; margin-top: -51px">
        <div class="content  {{ storedTheme }} " role="main">
          <div style="height: 56px"></div>
        </div>
      </div>
    </div>
    <table>
      <div class="theme-switcher-wrap">
        <label
          class="theme-switcher"
          [ngClass]="
            storedTheme === 'theme-dark'
              ? 'theme-switcher active'
              : 'theme-switcher'
          "
          (click)="setTheme()"
        >
          <div class="switch-path">
            <div class="switch-handle"></div>
          </div>
        </label>
      </div>
    </table>
    <div class="layers"></div>
    <div id="display" type="text">{{ input }}</div>

    <div class="calcmid">
      <div>
        <table class="button_box">
          <tr>
            <td>
              <button mat-mini-fab (click)="allClear()">c</button>
              <p class="btnp" (click)="allClear()">c</p>
            </td>
            <td>
              <button mat-mini-fab (click)="pressoperator('+/-')">+/-</button>
              <p
                class="btnp"
                style="margin-left: 5px"
                (click)="pressoperator('+/-')"
              >
                +/-
              </p>
            </td>
            <td>
              <button mat-mini-fab (click)="pressoperator('%')">%</button>
              <p class="btnp" (click)="pressoperator('%')">%</p>
            </td>
            <td>
              <button mat-mini-fab (click)="pressoperator('/')">/</button>
              <p class="btnp" (click)="pressoperator('/')">/</p>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('7')">
                7
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('8')">
                8
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('9')">
                9
              </button>
            </td>
            <td>
              <button mat-mini-fab (click)="pressoperator('*')">x</button>
              <p class="btnp" (click)="pressoperator('*')">x</p>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('4')">
                4
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('5')">
                5
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('6')">
                6
              </button>
            </td>
            <td>
              <button mat-mini-fab (click)="pressoperator('-')">-</button>
              <p
                class="btnp"
                style="margin-left: 24px"
                (click)="pressoperator('-')"
              >
                -
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('1')">
                1
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('2')">
                2
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('3')">
                3
              </button>
            </td>
            <td>
              <button mat-mini-fab (click)="pressoperator('+')">+</button>
              <p class="btnp" (click)="pressoperator('+')">+</p>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('0')">
                0
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('.')">
                .
              </button>
            </td>
            <td>
              <button mat-mini-fab class="num_key" (click)="pressnum('&nbsp;')">
                &nbsp;
              </button>
            </td>
            <td>
              <button mat-mini-fab (click)="answer()" class="btn">=</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card>
</div>
